:root {
  --primary-title-color: #ffffff;
  --accent-color: #2196f3;
  --second-logo-color: #000000;
  --title-color: #212121;
  --text-color: #757575;
  --fone-color: #f5f4fa;
  --fone-color-black: #2f303a;
  --footer-address: rgba(255, 255, 255, 0.6);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  background-color: var(--primary-title-color);
  letter-spacing: 0.03em;
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}
a {
  text-decoration: none;
}
/*Стили к логотипу*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.web {
  color: var(--accent-color);
}
.studio {
  color: var(--second-logo-color);
}
li {
  list-style-type: none;
}
/*Стили к header*/
.sitenav-link {
  color: var(--title-color);
}
.sitenav-link:hover,
.sitenav-link:focus {
  color: var(--accent-color);
}
.contacts-link {
  color: var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.sitenav .contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.sitenav-link.current {
  color: var(--accent-color);
}
/*Стили к герою*/
.hero {
  background-color: var(--fone-color-black);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-title-color);
}
.hero-btn {
  color: var(--primary-title-color);
  background-color: var(--accent-color);

  width: max-content;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}
/*Стили main*/
.section-title,
.features-title,
.team-title {
  color: var(--title-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.7;
}
.section-team {
  background-color: var(--fone-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
}
.footer {
  background-color: var(--fone-color-black);
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-web {
  color: var(--accent-color);
}
.footer-studio {
  color: var(--primary-title-color);
}
.footer-address {
  color: var(--primary-title-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.footer-contacts {
  color: var(--footer-address);
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.footer-contacts:focus,
.footer-contacts:hover {
  color: var(--accent-color);
}

/*Portfolio*/
.filtr-button {
  background-color: (--fone-color);
  color: (--title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  cursor: pointer;
}
.filtr-button:focus,
.filtr-button:hover {
  background-color: var(--accent-color);
  color: var(--primary-title-color);
  font-family: inherit;
}
.portfolio-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;

  color: var(--text-color);
}
